[Unit]
Description=Keycloak Server
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/keycloak

User={{ keycloak_service_user }}
Group={{ keycloak_service_group }}
PIDFile={{ keycloak_service_pidfile }}
ExecStart={{ keycloak_dest }}/keycloak-service.sh start
ExecStop={{ keycloak_dest }}/keycloak-service.sh stop
TimeoutStartSec=60
TimeoutStopSec=60
LimitNOFILE=102642

[Install]
WantedBy=multi-user.target
