# {{ ansible_managed }}
{% if keycloak_quarkus_ha_enabled %}
{% if not rhbk_enable or keycloak_quarkus_version.split('.')[0]|int < 22 %}
quarkus.infinispan-client.server-list={{ keycloak_quarkus_ispn_hosts }}
quarkus.infinispan-client.auth-username={{ keycloak_quarkus_ispn_user }}
quarkus.infinispan-client.auth-password={{ keycloak_quarkus_ispn_pass }}
{% else %}
quarkus.infinispan-client.hosts={{ keycloak_quarkus_ispn_hosts }}
quarkus.infinispan-client.username={{ keycloak_quarkus_ispn_user }}
quarkus.infinispan-client.password={{ keycloak_quarkus_ispn_pass }}
{% endif %}
quarkus.infinispan-client.client-intelligence=HASH_DISTRIBUTION_AWARE
quarkus.infinispan-client.use-auth=true
quarkus.infinispan-client.auth-realm=default
quarkus.infinispan-client.auth-server-name=infinispan
quarkus.infinispan-client.sasl-mechanism={{ keycloak_quarkus_ispn_sasl_mechanism }}
{% if keycloak_quarkus_ispn_use_ssl %}
quarkus.infinispan-client.trust-store={{ keycloak_quarkus_ispn_trust_store_path }}
quarkus.infinispan-client.trust-store-password={{ keycloak_quarkus_ispn_trust_store_password }}
quarkus.infinispan-client.trust-store-type=jks
{% endif %}
#quarkus.infinispan-client.use-schema-registration=true
{% endif %}
quarkus.log.file.rotation.max-file-size={{ keycloak_quarkus_log_max_file_size }}
quarkus.log.file.rotation.max-backup-index={{ keycloak_quarkus_log_max_backup_index }}
quarkus.log.file.rotation.file-suffix={{ keycloak_quarkus_log_file_suffix }}